p{
    font-family:Montserrat ;
}

.one{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
.two{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;

}
.three{
    text-decoration: underline;
}
.three:hover{
    cursor: pointer;
    color: rgb(161, 14, 14);
}